{
  "openapi": "3.0.1",
  "info": {
    "title": "Api Externa BMP SPI",
    "description": "<p><strong>Build Number: </strong>#0.0</p>",
    "version": "v1"
  },
    "servers": [
    {
      "url": "https://api.ext.pix.dbs.moneyp.com.br/",
      "description": "Localhost"
    }
  ],
  "paths": {
    "/api/Chave/Criar": {
      "post": {
        "tags": [
          "Chave"
        ],
        "summary": "Criar chave PIX",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.chave.criar</b>",
        "parameters": [
          {
            "name": "IdempotencyKey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IgnoraHandshake",
            "in": "header",
            "description": "(somente em homologação)",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Chave.Criar.CriarRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Chave.Criar.CriarRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Chave.Criar.CriarRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Chave.Criar.CriarResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Chave/Consultar": {
      "get": {
        "tags": [
          "Chave"
        ],
        "summary": "Consultar chave PIX",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.chave.consultar</b>",
        "parameters": [
          {
            "name": "Chave",
            "in": "query",
            "description": "Chave PIX cadastrada à ser consultada.*",
            "schema": {
              "type": "string",
              "description": "Chave PIX cadastrada à ser consultada.*"
            }
          },
          {
            "name": "ContaDto.Agencia",
            "in": "query",
            "description": "Número da agência bancária.*\n\nObservações:\n- O número da agência pode ter no máximo 4 caracteres.",
            "schema": {
              "type": "string",
              "description": "Número da agência bancária.*\n\nObservações:\n- O número da agência pode ter no máximo 4 caracteres."
            }
          },
          {
            "name": "ContaDto.AgenciaDigito",
            "in": "query",
            "description": "Dígito verificador da agência bancária.\n\nObservações:\n- O dígito verificador da agência bancária pode ter no máximo 1 caracter.",
            "schema": {
              "type": "string",
              "description": "Dígito verificador da agência bancária.\n\nObservações:\n- O dígito verificador da agência bancária pode ter no máximo 1 caracter."
            }
          },
          {
            "name": "ContaDto.Conta",
            "in": "query",
            "description": "Número da conta bancária.\n\nObservações:\n- O número da conta bancária pode ter no máximo 12 caracteres.\n- Para que seja possível localizar a conta, é necessário informar o 'número da conta com dígito' (```contaPgto```) ou o 'número da conta' (```conta```) e o 'dígito verificador' (```contaDigito```).\n- Caso o 'número da conta com dígito' (```contaPgto```) seja informado, não é necessário preencher os campos 'número da conta' (```conta```) e 'dígito verificador' (```contaDigito```).\n- Caso nenhum dos campos referentes ao número da conta seja informado, ocorrerá erro na requisição devido à falta de informação vital.",
            "schema": {
              "type": "string",
              "description": "Número da conta bancária.\n\nObservações:\n- O número da conta bancária pode ter no máximo 12 caracteres.\n- Para que seja possível localizar a conta, é necessário informar o 'número da conta com dígito' (```contaPgto```) ou o 'número da conta' (```conta```) e o 'dígito verificador' (```contaDigito```).\n- Caso o 'número da conta com dígito' (```contaPgto```) seja informado, não é necessário preencher os campos 'número da conta' (```conta```) e 'dígito verificador' (```contaDigito```).\n- Caso nenhum dos campos referentes ao número da conta seja informado, ocorrerá erro na requisição devido à falta de informação vital."
            }
          },
          {
            "name": "ContaDto.ContaDigito",
            "in": "query",
            "description": "Dígito verificador do número da conta bancária.\n\nObservações:\n- O dígito verificador do número da conta bancária pode ter no máximo 1 caracter.",
            "schema": {
              "type": "string",
              "description": "Dígito verificador do número da conta bancária.\n\nObservações:\n- O dígito verificador do número da conta bancária pode ter no máximo 1 caracter."
            }
          },
          {
            "name": "ContaDto.ContaPgto",
            "in": "query",
            "description": "Número da conta bancária seguido do dígito verificador.\n\nObservações:\n- O número da conta seguido do dígito verificador pode ter no máximo 20 caracteres.",
            "schema": {
              "type": "string",
              "description": "Número da conta bancária seguido do dígito verificador.\n\nObservações:\n- O número da conta seguido do dígito verificador pode ter no máximo 20 caracteres."
            }
          },
          {
            "name": "ContaDto.TipoConta",
            "in": "query",
            "description": "Tipo da conta.*\n\nValores:\n1 - Corrente\n2 - Poupanca\n3 - Pagamento\n4 - Salario",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BMPSPB.Infra.Enums.TipoConta"
                }
              ],
              "description": "Tipo da conta.*\n\nValores:\n1 - Corrente\n2 - Poupanca\n3 - Pagamento\n4 - Salario"
            }
          },
          {
            "name": "ContaDto.ModeloConta",
            "in": "query",
            "description": "Modelo da conta.*\n\nValores:\n1 - Movimento\n2 - Escrow\n3 - Vinculada",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BMPSPB.Infra.Enums.ModeloConta"
                }
              ],
              "description": "Modelo da conta.*\n\nValores:\n1 - Movimento\n2 - Escrow\n3 - Vinculada"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Chave.Consultar.ConsultarResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Chave/Excluir": {
      "delete": {
        "tags": [
          "Chave"
        ],
        "summary": "Excluir chave PIX",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.chave.excluir</b>",
        "parameters": [
          {
            "name": "Chave",
            "in": "query",
            "description": "Chave PIX cadastrada à ser excluida.*",
            "schema": {
              "type": "string",
              "description": "Chave PIX cadastrada à ser excluida.*"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Chave.Excluir.ExcluirResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Chave/Listar": {
      "get": {
        "tags": [
          "Chave"
        ],
        "summary": "Listar chaves PIX",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.chave.listar</b>",
        "parameters": [
          {
            "name": "ContaDto.Agencia",
            "in": "query",
            "description": "Número da agência bancária.*\n\nObservações:\n- O número da agência pode ter no máximo 4 caracteres.",
            "schema": {
              "type": "string",
              "description": "Número da agência bancária.*\n\nObservações:\n- O número da agência pode ter no máximo 4 caracteres."
            }
          },
          {
            "name": "ContaDto.AgenciaDigito",
            "in": "query",
            "description": "Dígito verificador da agência bancária.\n\nObservações:\n- O dígito verificador da agência bancária pode ter no máximo 1 caracter.",
            "schema": {
              "type": "string",
              "description": "Dígito verificador da agência bancária.\n\nObservações:\n- O dígito verificador da agência bancária pode ter no máximo 1 caracter."
            }
          },
          {
            "name": "ContaDto.Conta",
            "in": "query",
            "description": "Número da conta bancária.\n\nObservações:\n- O número da conta bancária pode ter no máximo 12 caracteres.\n- Para que seja possível localizar a conta, é necessário informar o 'número da conta com dígito' (```contaPgto```) ou o 'número da conta' (```conta```) e o 'dígito verificador' (```contaDigito```).\n- Caso o 'número da conta com dígito' (```contaPgto```) seja informado, não é necessário preencher os campos 'número da conta' (```conta```) e 'dígito verificador' (```contaDigito```).\n- Caso nenhum dos campos referentes ao número da conta seja informado, ocorrerá erro na requisição devido à falta de informação vital.",
            "schema": {
              "type": "string",
              "description": "Número da conta bancária.\n\nObservações:\n- O número da conta bancária pode ter no máximo 12 caracteres.\n- Para que seja possível localizar a conta, é necessário informar o 'número da conta com dígito' (```contaPgto```) ou o 'número da conta' (```conta```) e o 'dígito verificador' (```contaDigito```).\n- Caso o 'número da conta com dígito' (```contaPgto```) seja informado, não é necessário preencher os campos 'número da conta' (```conta```) e 'dígito verificador' (```contaDigito```).\n- Caso nenhum dos campos referentes ao número da conta seja informado, ocorrerá erro na requisição devido à falta de informação vital."
            }
          },
          {
            "name": "ContaDto.ContaDigito",
            "in": "query",
            "description": "Dígito verificador do número da conta bancária.\n\nObservações:\n- O dígito verificador do número da conta bancária pode ter no máximo 1 caracter.",
            "schema": {
              "type": "string",
              "description": "Dígito verificador do número da conta bancária.\n\nObservações:\n- O dígito verificador do número da conta bancária pode ter no máximo 1 caracter."
            }
          },
          {
            "name": "ContaDto.ContaPgto",
            "in": "query",
            "description": "Número da conta bancária seguido do dígito verificador.\n\nObservações:\n- O número da conta seguido do dígito verificador pode ter no máximo 20 caracteres.",
            "schema": {
              "type": "string",
              "description": "Número da conta bancária seguido do dígito verificador.\n\nObservações:\n- O número da conta seguido do dígito verificador pode ter no máximo 20 caracteres."
            }
          },
          {
            "name": "ContaDto.TipoConta",
            "in": "query",
            "description": "Tipo da conta.*\n\nValores:\n1 - Corrente\n2 - Poupanca\n3 - Pagamento\n4 - Salario",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BMPSPB.Infra.Enums.TipoConta"
                }
              ],
              "description": "Tipo da conta.*\n\nValores:\n1 - Corrente\n2 - Poupanca\n3 - Pagamento\n4 - Salario"
            }
          },
          {
            "name": "ContaDto.ModeloConta",
            "in": "query",
            "description": "Modelo da conta.*\n\nValores:\n1 - Movimento\n2 - Escrow\n3 - Vinculada",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BMPSPB.Infra.Enums.ModeloConta"
                }
              ],
              "description": "Modelo da conta.*\n\nValores:\n1 - Movimento\n2 - Escrow\n3 - Vinculada"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Chave.Listar.ListarResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/Chave": {
      "post": {
        "tags": [
          "Chave"
        ],
        "summary": "Criar chave PIX por MFA",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.chave.criar</b>",
        "parameters": [
          {
            "name": "IdempotencyKey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IgnoraHandshake",
            "in": "header",
            "description": "(somente em homologação)",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Chave.Criar.CriarRequestV2"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Chave.Criar.CriarRequestV2"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Chave.Criar.CriarRequestV2"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Chave.Criar.CriarResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Contestacao/solicitar": {
      "post": {
        "tags": [
          "Contestacao"
        ],
        "summary": "Permite solicitar uma contestação referente a uma transação Pix.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.contestacao.solicitar</b>",
        "parameters": [
          {
            "name": "IdempotencyKey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IgnoraHandshake",
            "in": "header",
            "description": "(somente em homologação)",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Externa.Contestacao.SolicitaContestacaoPixRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Externa.Contestacao.SolicitaContestacaoPixRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Externa.Contestacao.SolicitaContestacaoPixRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.Contestacao.PixMed.ContestacaoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Contestacao/listar": {
      "get": {
        "tags": [
          "Contestacao"
        ],
        "summary": "Consulta contestações relacionadas a conta.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.contestacao.listar</b>",
        "parameters": [
          {
            "name": "Agencia",
            "in": "query",
            "description": "Número da agência bancária.*\n\nObservações:\n- O número da agência pode ter no máximo 4 caracteres.",
            "schema": {
              "type": "string",
              "description": "Número da agência bancária.*\n\nObservações:\n- O número da agência pode ter no máximo 4 caracteres."
            }
          },
          {
            "name": "AgenciaDigito",
            "in": "query",
            "description": "Dígito verificador da agência bancária.\n\nObservações:\n- O dígito verificador da agência bancária pode ter no máximo 1 caracter.",
            "schema": {
              "type": "string",
              "description": "Dígito verificador da agência bancária.\n\nObservações:\n- O dígito verificador da agência bancária pode ter no máximo 1 caracter."
            }
          },
          {
            "name": "Conta",
            "in": "query",
            "description": "Número da conta bancária.\n\nObservações:\n- O número da conta bancária pode ter no máximo 12 caracteres.\n- Para que seja possível localizar a conta, é necessário informar o 'número da conta com dígito' (```contaPgto```) ou o 'número da conta' (```conta```) e o 'dígito verificador' (```contaDigito```).\n- Caso o 'número da conta com dígito' (```contaPgto```) seja informado, não é necessário preencher os campos 'número da conta' (```conta```) e 'dígito verificador' (```contaDigito```).\n- Caso nenhum dos campos referentes ao número da conta seja informado, ocorrerá erro na requisição devido à falta de informação vital.",
            "schema": {
              "type": "string",
              "description": "Número da conta bancária.\n\nObservações:\n- O número da conta bancária pode ter no máximo 12 caracteres.\n- Para que seja possível localizar a conta, é necessário informar o 'número da conta com dígito' (```contaPgto```) ou o 'número da conta' (```conta```) e o 'dígito verificador' (```contaDigito```).\n- Caso o 'número da conta com dígito' (```contaPgto```) seja informado, não é necessário preencher os campos 'número da conta' (```conta```) e 'dígito verificador' (```contaDigito```).\n- Caso nenhum dos campos referentes ao número da conta seja informado, ocorrerá erro na requisição devido à falta de informação vital."
            }
          },
          {
            "name": "ContaDigito",
            "in": "query",
            "description": "Dígito verificador do número da conta bancária.\n\nObservações:\n- O dígito verificador do número da conta bancária pode ter no máximo 1 caracter.",
            "schema": {
              "type": "string",
              "description": "Dígito verificador do número da conta bancária.\n\nObservações:\n- O dígito verificador do número da conta bancária pode ter no máximo 1 caracter."
            }
          },
          {
            "name": "ContaPgto",
            "in": "query",
            "description": "Número da conta bancária seguido do dígito verificador.\n\nObservações:\n- O número da conta seguido do dígito verificador pode ter no máximo 20 caracteres.",
            "schema": {
              "type": "string",
              "description": "Número da conta bancária seguido do dígito verificador.\n\nObservações:\n- O número da conta seguido do dígito verificador pode ter no máximo 20 caracteres."
            }
          },
          {
            "name": "TipoConta",
            "in": "query",
            "description": "Tipo da conta.*\n\nValores:\n1 - Corrente\n2 - Poupanca\n3 - Pagamento\n4 - Salario",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BMPSPB.Infra.Enums.TipoConta"
                }
              ],
              "description": "Tipo da conta.*\n\nValores:\n1 - Corrente\n2 - Poupanca\n3 - Pagamento\n4 - Salario"
            }
          },
          {
            "name": "ModeloConta",
            "in": "query",
            "description": "Modelo da conta.*\n\nValores:\n1 - Movimento\n2 - Escrow\n3 - Vinculada",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BMPSPB.Infra.Enums.ModeloConta"
                }
              ],
              "description": "Modelo da conta.*\n\nValores:\n1 - Movimento\n2 - Escrow\n3 - Vinculada"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.Contestacao.PixMed.ListarContestacaoResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Contestacao/detalhes/{codigoContestacao}": {
      "get": {
        "tags": [
          "Contestacao"
        ],
        "summary": "Consulta detalhes da contestação.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.contestacao.consultar</b>",
        "parameters": [
          {
            "name": "codigoContestacao",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.Contestacao.PixMed.DetalhesContestacaoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Contestacao/cancelar": {
      "post": {
        "tags": [
          "Contestacao"
        ],
        "summary": "Cancela uma contestação diferente de Aprovada/Reprovada.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.contestacao.cancelar</b>",
        "parameters": [
          {
            "name": "IdempotencyKey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IgnoraHandshake",
            "in": "header",
            "description": "(somente em homologação)",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Externa.Contestacao.CancelamentoContestacaoExternaRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Externa.Contestacao.CancelamentoContestacaoExternaRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Externa.Contestacao.CancelamentoContestacaoExternaRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Shared.ResponseBase"
                }
              }
            }
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Contestacao/transacoesAptas": {
      "get": {
        "tags": [
          "Contestacao"
        ],
        "summary": "Lista de transações elegíveis para contestação.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.contestacao.transacoesAptas</b>",
        "parameters": [
          {
            "name": "Conta.Agencia",
            "in": "query",
            "description": "Número da agência bancária.*\n\nObservações:\n- O número da agência pode ter no máximo 4 caracteres.",
            "schema": {
              "type": "string",
              "description": "Número da agência bancária.*\n\nObservações:\n- O número da agência pode ter no máximo 4 caracteres."
            }
          },
          {
            "name": "Conta.AgenciaDigito",
            "in": "query",
            "description": "Dígito verificador da agência bancária.\n\nObservações:\n- O dígito verificador da agência bancária pode ter no máximo 1 caracter.",
            "schema": {
              "type": "string",
              "description": "Dígito verificador da agência bancária.\n\nObservações:\n- O dígito verificador da agência bancária pode ter no máximo 1 caracter."
            }
          },
          {
            "name": "Conta.Conta",
            "in": "query",
            "description": "Número da conta bancária.\n\nObservações:\n- O número da conta bancária pode ter no máximo 12 caracteres.\n- Para que seja possível localizar a conta, é necessário informar o 'número da conta com dígito' (```contaPgto```) ou o 'número da conta' (```conta```) e o 'dígito verificador' (```contaDigito```).\n- Caso o 'número da conta com dígito' (```contaPgto```) seja informado, não é necessário preencher os campos 'número da conta' (```conta```) e 'dígito verificador' (```contaDigito```).\n- Caso nenhum dos campos referentes ao número da conta seja informado, ocorrerá erro na requisição devido à falta de informação vital.",
            "schema": {
              "type": "string",
              "description": "Número da conta bancária.\n\nObservações:\n- O número da conta bancária pode ter no máximo 12 caracteres.\n- Para que seja possível localizar a conta, é necessário informar o 'número da conta com dígito' (```contaPgto```) ou o 'número da conta' (```conta```) e o 'dígito verificador' (```contaDigito```).\n- Caso o 'número da conta com dígito' (```contaPgto```) seja informado, não é necessário preencher os campos 'número da conta' (```conta```) e 'dígito verificador' (```contaDigito```).\n- Caso nenhum dos campos referentes ao número da conta seja informado, ocorrerá erro na requisição devido à falta de informação vital."
            }
          },
          {
            "name": "Conta.ContaDigito",
            "in": "query",
            "description": "Dígito verificador do número da conta bancária.\n\nObservações:\n- O dígito verificador do número da conta bancária pode ter no máximo 1 caracter.",
            "schema": {
              "type": "string",
              "description": "Dígito verificador do número da conta bancária.\n\nObservações:\n- O dígito verificador do número da conta bancária pode ter no máximo 1 caracter."
            }
          },
          {
            "name": "Conta.ContaPgto",
            "in": "query",
            "description": "Número da conta bancária seguido do dígito verificador.\n\nObservações:\n- O número da conta seguido do dígito verificador pode ter no máximo 20 caracteres.",
            "schema": {
              "type": "string",
              "description": "Número da conta bancária seguido do dígito verificador.\n\nObservações:\n- O número da conta seguido do dígito verificador pode ter no máximo 20 caracteres."
            }
          },
          {
            "name": "Conta.TipoConta",
            "in": "query",
            "description": "Tipo da conta.*\n\nValores:\n1 - Corrente\n2 - Poupanca\n3 - Pagamento\n4 - Salario",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BMPSPB.Infra.Enums.TipoConta"
                }
              ],
              "description": "Tipo da conta.*\n\nValores:\n1 - Corrente\n2 - Poupanca\n3 - Pagamento\n4 - Salario"
            }
          },
          {
            "name": "Conta.ModeloConta",
            "in": "query",
            "description": "Modelo da conta.*\n\nValores:\n1 - Movimento\n2 - Escrow\n3 - Vinculada",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BMPSPB.Infra.Enums.ModeloConta"
                }
              ],
              "description": "Modelo da conta.*\n\nValores:\n1 - Movimento\n2 - Escrow\n3 - Vinculada"
            }
          },
          {
            "name": "Filtro.TipoOperacaoPix",
            "in": "query",
            "description": "Tipo operação.*\n\nValores:\n1 - Envio\n2 - Recebimento",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.DBS.SPI.ExtratoPix.TipoOperacaoPix"
                }
              ],
              "description": "Tipo operação.*\n\nValores:\n1 - Envio\n2 - Recebimento"
            }
          },
          {
            "name": "Filtro.ValorInicial",
            "in": "query",
            "description": "Valor inicial da transação",
            "schema": {
              "type": "number",
              "description": "Valor inicial da transação",
              "format": "double"
            }
          },
          {
            "name": "Filtro.ValorFinal",
            "in": "query",
            "description": "Valor final da transação",
            "schema": {
              "type": "number",
              "description": "Valor final da transação",
              "format": "double"
            }
          },
          {
            "name": "Filtro.DtInicial",
            "in": "query",
            "description": "Data inicial do filtro por período\n\n Formato: yyyy-MM-dd",
            "schema": {
              "type": "string",
              "description": "Data inicial do filtro por período\n\n Formato: yyyy-MM-dd",
              "format": "date-time"
            }
          },
          {
            "name": "Filtro.DtFinal",
            "in": "query",
            "description": "Data final do filtro por período\n\n Formato: yyyy-MM-dd",
            "schema": {
              "type": "string",
              "description": "Data final do filtro por período\n\n Formato: yyyy-MM-dd",
              "format": "date-time"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Número de itens devolvidos por páginaPageSize por padrão se não enviado devolve 25 itens",
            "schema": {
              "type": "integer",
              "description": "Número de itens devolvidos por páginaPageSize por padrão se não enviado devolve 25 itens",
              "format": "int32"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Página que deve ser retornada",
            "schema": {
              "type": "integer",
              "description": "Página que deve ser retornada",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Contestacao/transacaoApta/Detalhes": {
      "get": {
        "tags": [
          "Contestacao"
        ],
        "summary": "Consulta detalhes da transação elegível para contestação.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.contestacao.transacaoAptaDetalhes</b>",
        "parameters": [
          {
            "name": "codigoTransacao",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "origemTransacao",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BMPSPB.Infra.Enums.OrigemTransacao"
                }
              ]
            }
          },
          {
            "name": "ContaDto.Agencia",
            "in": "query",
            "description": "Número da agência bancária.*\n\nObservações:\n- O número da agência pode ter no máximo 4 caracteres.",
            "schema": {
              "type": "string",
              "description": "Número da agência bancária.*\n\nObservações:\n- O número da agência pode ter no máximo 4 caracteres."
            }
          },
          {
            "name": "ContaDto.AgenciaDigito",
            "in": "query",
            "description": "Dígito verificador da agência bancária.\n\nObservações:\n- O dígito verificador da agência bancária pode ter no máximo 1 caracter.",
            "schema": {
              "type": "string",
              "description": "Dígito verificador da agência bancária.\n\nObservações:\n- O dígito verificador da agência bancária pode ter no máximo 1 caracter."
            }
          },
          {
            "name": "ContaDto.Conta",
            "in": "query",
            "description": "Número da conta bancária.\n\nObservações:\n- O número da conta bancária pode ter no máximo 12 caracteres.\n- Para que seja possível localizar a conta, é necessário informar o 'número da conta com dígito' (```contaPgto```) ou o 'número da conta' (```conta```) e o 'dígito verificador' (```contaDigito```).\n- Caso o 'número da conta com dígito' (```contaPgto```) seja informado, não é necessário preencher os campos 'número da conta' (```conta```) e 'dígito verificador' (```contaDigito```).\n- Caso nenhum dos campos referentes ao número da conta seja informado, ocorrerá erro na requisição devido à falta de informação vital.",
            "schema": {
              "type": "string",
              "description": "Número da conta bancária.\n\nObservações:\n- O número da conta bancária pode ter no máximo 12 caracteres.\n- Para que seja possível localizar a conta, é necessário informar o 'número da conta com dígito' (```contaPgto```) ou o 'número da conta' (```conta```) e o 'dígito verificador' (```contaDigito```).\n- Caso o 'número da conta com dígito' (```contaPgto```) seja informado, não é necessário preencher os campos 'número da conta' (```conta```) e 'dígito verificador' (```contaDigito```).\n- Caso nenhum dos campos referentes ao número da conta seja informado, ocorrerá erro na requisição devido à falta de informação vital."
            }
          },
          {
            "name": "ContaDto.ContaDigito",
            "in": "query",
            "description": "Dígito verificador do número da conta bancária.\n\nObservações:\n- O dígito verificador do número da conta bancária pode ter no máximo 1 caracter.",
            "schema": {
              "type": "string",
              "description": "Dígito verificador do número da conta bancária.\n\nObservações:\n- O dígito verificador do número da conta bancária pode ter no máximo 1 caracter."
            }
          },
          {
            "name": "ContaDto.ContaPgto",
            "in": "query",
            "description": "Número da conta bancária seguido do dígito verificador.\n\nObservações:\n- O número da conta seguido do dígito verificador pode ter no máximo 20 caracteres.",
            "schema": {
              "type": "string",
              "description": "Número da conta bancária seguido do dígito verificador.\n\nObservações:\n- O número da conta seguido do dígito verificador pode ter no máximo 20 caracteres."
            }
          },
          {
            "name": "ContaDto.TipoConta",
            "in": "query",
            "description": "Tipo da conta.*\n\nValores:\n1 - Corrente\n2 - Poupanca\n3 - Pagamento\n4 - Salario",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BMPSPB.Infra.Enums.TipoConta"
                }
              ],
              "description": "Tipo da conta.*\n\nValores:\n1 - Corrente\n2 - Poupanca\n3 - Pagamento\n4 - Salario"
            }
          },
          {
            "name": "ContaDto.ModeloConta",
            "in": "query",
            "description": "Modelo da conta.*\n\nValores:\n1 - Movimento\n2 - Escrow\n3 - Vinculada",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BMPSPB.Infra.Enums.ModeloConta"
                }
              ],
              "description": "Modelo da conta.*\n\nValores:\n1 - Movimento\n2 - Escrow\n3 - Vinculada"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.Contestacao.PixMed.DetalheExtratoResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Doacao/Listar": {
      "get": {
        "tags": [
          "Doacao"
        ],
        "summary": "Lista as doações de Chave PIX associadas a uma Conta Bancária específica.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.doacao.listardoacao</b>",
        "parameters": [
          {
            "name": "Conta.Agencia",
            "in": "query",
            "description": "Número da agência bancária.*\n\nObservações:\n- O número da agência pode ter no máximo 4 caracteres.",
            "schema": {
              "type": "string",
              "description": "Número da agência bancária.*\n\nObservações:\n- O número da agência pode ter no máximo 4 caracteres."
            }
          },
          {
            "name": "Conta.AgenciaDigito",
            "in": "query",
            "description": "Dígito verificador da agência bancária.\n\nObservações:\n- O dígito verificador da agência bancária pode ter no máximo 1 caracter.",
            "schema": {
              "type": "string",
              "description": "Dígito verificador da agência bancária.\n\nObservações:\n- O dígito verificador da agência bancária pode ter no máximo 1 caracter."
            }
          },
          {
            "name": "Conta.Conta",
            "in": "query",
            "description": "Número da conta bancária.\n\nObservações:\n- O número da conta bancária pode ter no máximo 12 caracteres.\n- Para que seja possível localizar a conta, é necessário informar o 'número da conta com dígito' (```contaPgto```) ou o 'número da conta' (```conta```) e o 'dígito verificador' (```contaDigito```).\n- Caso o 'número da conta com dígito' (```contaPgto```) seja informado, não é necessário preencher os campos 'número da conta' (```conta```) e 'dígito verificador' (```contaDigito```).\n- Caso nenhum dos campos referentes ao número da conta seja informado, ocorrerá erro na requisição devido à falta de informação vital.",
            "schema": {
              "type": "string",
              "description": "Número da conta bancária.\n\nObservações:\n- O número da conta bancária pode ter no máximo 12 caracteres.\n- Para que seja possível localizar a conta, é necessário informar o 'número da conta com dígito' (```contaPgto```) ou o 'número da conta' (```conta```) e o 'dígito verificador' (```contaDigito```).\n- Caso o 'número da conta com dígito' (```contaPgto```) seja informado, não é necessário preencher os campos 'número da conta' (```conta```) e 'dígito verificador' (```contaDigito```).\n- Caso nenhum dos campos referentes ao número da conta seja informado, ocorrerá erro na requisição devido à falta de informação vital."
            }
          },
          {
            "name": "Conta.ContaDigito",
            "in": "query",
            "description": "Dígito verificador do número da conta bancária.\n\nObservações:\n- O dígito verificador do número da conta bancária pode ter no máximo 1 caracter.",
            "schema": {
              "type": "string",
              "description": "Dígito verificador do número da conta bancária.\n\nObservações:\n- O dígito verificador do número da conta bancária pode ter no máximo 1 caracter."
            }
          },
          {
            "name": "Conta.ContaPgto",
            "in": "query",
            "description": "Número da conta bancária seguido do dígito verificador.\n\nObservações:\n- O número da conta seguido do dígito verificador pode ter no máximo 20 caracteres.",
            "schema": {
              "type": "string",
              "description": "Número da conta bancária seguido do dígito verificador.\n\nObservações:\n- O número da conta seguido do dígito verificador pode ter no máximo 20 caracteres."
            }
          },
          {
            "name": "Conta.TipoConta",
            "in": "query",
            "description": "Tipo da conta.*\n\nValores:\n1 - Corrente\n2 - Poupanca\n3 - Pagamento\n4 - Salario",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BMPSPB.Infra.Enums.TipoConta"
                }
              ],
              "description": "Tipo da conta.*\n\nValores:\n1 - Corrente\n2 - Poupanca\n3 - Pagamento\n4 - Salario"
            }
          },
          {
            "name": "Conta.ModeloConta",
            "in": "query",
            "description": "Modelo da conta.*\n\nValores:\n1 - Movimento\n2 - Escrow\n3 - Vinculada",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BMPSPB.Infra.Enums.ModeloConta"
                }
              ],
              "description": "Modelo da conta.*\n\nValores:\n1 - Movimento\n2 - Escrow\n3 - Vinculada"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Doacao.ListarDoacaoResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Doacao/Consultar/{codigo}": {
      "get": {
        "tags": [
          "Doacao"
        ],
        "summary": "Consulta detalhes específicos de uma solicitação de portabilidade de chave Pix.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.doacao.consultardoacao</b>",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "description": "Código UUID identificador da solicitação de portabilidade de chave Pix a ser consultada.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Doacao.ConsultarDoacaoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Doacao/Aceitar": {
      "post": {
        "tags": [
          "Doacao"
        ],
        "summary": "Aceita uma doação de Chave PIX específica.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.doacao.aceitar</b>",
        "parameters": [
          {
            "name": "IdempotencyKey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IgnoraHandshake",
            "in": "header",
            "description": "(somente em homologação)",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Doacao.AceitarDoacaoRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Doacao.AceitarDoacaoRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Doacao.AceitarDoacaoRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Doacao/Reprovar": {
      "post": {
        "tags": [
          "Doacao"
        ],
        "summary": "Rejeita uma doação de Chave PIX específica.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.doacao.reprovar</b>",
        "parameters": [
          {
            "name": "IdempotencyKey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IgnoraHandshake",
            "in": "header",
            "description": "(somente em homologação)",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Doacao.ReprovarDoacaoRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Doacao.ReprovarDoacaoRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Doacao.ReprovarDoacaoRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Favorecido": {
      "post": {
        "tags": [
          "Favorecido"
        ],
        "summary": "Cadastra um novo favorecido para transações Pix.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.favorecidopix.cadastrar</b>",
        "parameters": [
          {
            "name": "IdempotencyKey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IgnoraHandshake",
            "in": "header",
            "description": "(somente em homologação)",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Favorecido.FavorecidoPixRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Favorecido.FavorecidoPixRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Favorecido.FavorecidoPixRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Favorecido.FavorecidoPixCadastroResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Favorecido"
        ],
        "summary": "Atualiza um Favorecido previamente cadastrado.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.favorecidopix.atualizar</b>",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Favorecido.FavorecidoPixAtualizarRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Favorecido.FavorecidoPixAtualizarRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Favorecido.FavorecidoPixAtualizarRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Mfa/Solicitar": {
      "post": {
        "tags": [
          "Mfa"
        ],
        "summary": "Endpoint usado para solicitar autenticação multifatorial.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.mfa.solicitar</b>",
        "parameters": [
          {
            "name": "IdempotencyKey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IgnoraHandshake",
            "in": "header",
            "description": "(somente em homologação)",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Reivindicacao.SolicitarMFARequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Reivindicacao.SolicitarMFARequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Reivindicacao.SolicitarMFARequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Reivindicacao.SolicitarMFAResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/QRCode/CriarEstatico": {
      "post": {
        "tags": [
          "QRCode"
        ],
        "summary": "Cria um QR Code estático para Pagamento PIX.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.qrcode.criarestatico</b>",
        "parameters": [
          {
            "name": "IdempotencyKey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IgnoraHandshake",
            "in": "header",
            "description": "(somente em homologação)",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.QRCode.CriarEstatico.CriarEstaticoRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.QRCode.CriarEstatico.CriarEstaticoRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.QRCode.CriarEstatico.CriarEstaticoRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.QRCode.CriarEstatico.CriarEstaticoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/QRCode/CriarDinamico": {
      "post": {
        "tags": [
          "QRCode"
        ],
        "summary": "Cria um QR Code Dinâmico para Pagamento PIX.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.qrcode.criardinamico</b>",
        "parameters": [
          {
            "name": "IdempotencyKey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IgnoraHandshake",
            "in": "header",
            "description": "(somente em homologação)",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.QRCode.CriarDinamico.CriarDinamicoRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.QRCode.CriarDinamico.CriarDinamicoRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.QRCode.CriarDinamico.CriarDinamicoRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.QRCode.CriarDinamico.CriarDinamicoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/QRCode/Ler": {
      "get": {
        "tags": [
          "QRCode"
        ],
        "summary": "Lê um QR Code de Pagamento PIX.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.qrcode.ler</b>",
        "parameters": [
          {
            "name": "ContaDto.Agencia",
            "in": "query",
            "description": "Número da agência bancária.*\n\nObservações:\n- O número da agência pode ter no máximo 4 caracteres.",
            "schema": {
              "type": "string",
              "description": "Número da agência bancária.*\n\nObservações:\n- O número da agência pode ter no máximo 4 caracteres."
            }
          },
          {
            "name": "ContaDto.AgenciaDigito",
            "in": "query",
            "description": "Dígito verificador da agência bancária.\n\nObservações:\n- O dígito verificador da agência bancária pode ter no máximo 1 caracter.",
            "schema": {
              "type": "string",
              "description": "Dígito verificador da agência bancária.\n\nObservações:\n- O dígito verificador da agência bancária pode ter no máximo 1 caracter."
            }
          },
          {
            "name": "ContaDto.Conta",
            "in": "query",
            "description": "Número da conta bancária.\n\nObservações:\n- O número da conta bancária pode ter no máximo 12 caracteres.\n- Para que seja possível localizar a conta, é necessário informar o 'número da conta com dígito' (```contaPgto```) ou o 'número da conta' (```conta```) e o 'dígito verificador' (```contaDigito```).\n- Caso o 'número da conta com dígito' (```contaPgto```) seja informado, não é necessário preencher os campos 'número da conta' (```conta```) e 'dígito verificador' (```contaDigito```).\n- Caso nenhum dos campos referentes ao número da conta seja informado, ocorrerá erro na requisição devido à falta de informação vital.",
            "schema": {
              "type": "string",
              "description": "Número da conta bancária.\n\nObservações:\n- O número da conta bancária pode ter no máximo 12 caracteres.\n- Para que seja possível localizar a conta, é necessário informar o 'número da conta com dígito' (```contaPgto```) ou o 'número da conta' (```conta```) e o 'dígito verificador' (```contaDigito```).\n- Caso o 'número da conta com dígito' (```contaPgto```) seja informado, não é necessário preencher os campos 'número da conta' (```conta```) e 'dígito verificador' (```contaDigito```).\n- Caso nenhum dos campos referentes ao número da conta seja informado, ocorrerá erro na requisição devido à falta de informação vital."
            }
          },
          {
            "name": "ContaDto.ContaDigito",
            "in": "query",
            "description": "Dígito verificador do número da conta bancária.\n\nObservações:\n- O dígito verificador do número da conta bancária pode ter no máximo 1 caracter.",
            "schema": {
              "type": "string",
              "description": "Dígito verificador do número da conta bancária.\n\nObservações:\n- O dígito verificador do número da conta bancária pode ter no máximo 1 caracter."
            }
          },
          {
            "name": "ContaDto.ContaPgto",
            "in": "query",
            "description": "Número da conta bancária seguido do dígito verificador.\n\nObservações:\n- O número da conta seguido do dígito verificador pode ter no máximo 20 caracteres.",
            "schema": {
              "type": "string",
              "description": "Número da conta bancária seguido do dígito verificador.\n\nObservações:\n- O número da conta seguido do dígito verificador pode ter no máximo 20 caracteres."
            }
          },
          {
            "name": "ContaDto.TipoConta",
            "in": "query",
            "description": "Tipo da conta.*\n\nValores:\n1 - Corrente\n2 - Poupanca\n3 - Pagamento\n4 - Salario",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BMPSPB.Infra.Enums.TipoConta"
                }
              ],
              "description": "Tipo da conta.*\n\nValores:\n1 - Corrente\n2 - Poupanca\n3 - Pagamento\n4 - Salario"
            }
          },
          {
            "name": "ContaDto.ModeloConta",
            "in": "query",
            "description": "Modelo da conta.*\n\nValores:\n1 - Movimento\n2 - Escrow\n3 - Vinculada",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BMPSPB.Infra.Enums.ModeloConta"
                }
              ],
              "description": "Modelo da conta.*\n\nValores:\n1 - Movimento\n2 - Escrow\n3 - Vinculada"
            }
          },
          {
            "name": "EMV",
            "in": "query",
            "description": "Código EMV do QR Code, conforme o padrão EMVCo.*",
            "schema": {
              "type": "string",
              "description": "Código EMV do QR Code, conforme o padrão EMVCo.*"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.QRCode.Ler.LerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/QRCode/ConsultarByCodigoBoleto/{codigoBoleto}": {
      "get": {
        "tags": [
          "QRCode"
        ],
        "summary": "Consulta um QR Code de Pagamento PIX associado a um Boleto Bancário.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.qrcode.consultar</b>",
        "parameters": [
          {
            "name": "codigoBoleto",
            "in": "path",
            "description": "Identificador UUID do Boleto Bancário em que o QR Code deve ser consultado.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.QRCode.ConsultarPorCodigoBoleto.ConsultarPorCodigoBoletoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/QRCode/{codigoQrCode}/CancelarQRCode": {
      "post": {
        "tags": [
          "QRCode"
        ],
        "summary": "Cancelar um QR Code de Pagamento PIX.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.qrcode.ler</b>",
        "parameters": [
          {
            "name": "codigoQrCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "IdempotencyKey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IgnoraHandshake",
            "in": "header",
            "description": "(somente em homologação)",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/QRCode/Dinamico": {
      "post": {
        "tags": [
          "QRCode"
        ],
        "summary": "Cria um QR Code dinâmico para pagamento através de Pix.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.qrcode.criardinamico</b>",
        "parameters": [
          {
            "name": "IdempotencyKey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IgnoraHandshake",
            "in": "header",
            "description": "(somente em homologação)",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.DICT.v2.QRCodeDinamico.QRCodeDinamicoRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.DICT.v2.QRCodeDinamico.QRCodeDinamicoRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.DICT.v2.QRCodeDinamico.QRCodeDinamicoRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.DICT.v2.QRCodeDinamico.QRCodeDinamicoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/QRCode/Cobranca": {
      "post": {
        "tags": [
          "QRCode"
        ],
        "summary": "Cria um QR Code de cobrança para pagamento através de Pix.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.qrcode.criarcobranca</b>",
        "parameters": [
          {
            "name": "IdempotencyKey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IgnoraHandshake",
            "in": "header",
            "description": "(somente em homologação)",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.DICT.v2.QRCodeCobranca.QRCodeCobrancaRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.DICT.v2.QRCodeCobranca.QRCodeCobrancaRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.DICT.v2.QRCodeCobranca.QRCodeCobrancaRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.DICT.v2.QRCodeCobranca.QRCodeCobrancaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Recurso/Transferir": {
      "post": {
        "tags": [
          "Recurso"
        ],
        "summary": "Realiza uma transferência via Pix.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.recurso.transferir</b>",
        "parameters": [
          {
            "name": "IdempotencyKey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IgnoraHandshake",
            "in": "header",
            "description": "(somente em homologação)",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Recurso.Transferir.TransferirRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Recurso.Transferir.TransferirRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Recurso.Transferir.TransferirRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Recurso.Transferir.TransferirResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "boolean"
                    },
                    "mensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Recurso/Devolver": {
      "post": {
        "tags": [
          "Recurso"
        ],
        "summary": "Realiza uma devolução de transferência via Pix.",
        "description": "<p>Scopes:</p>\r\n<b>api.pix api.recurso.devolver</b>",
        "parameters": [
          {
            "name": "IdempotencyKey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IgnoraHandshake",
            "in": "header",
            "description": "(somente em homologação)",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Recurso.Devolver.DevolverRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Recurso.Devolver.DevolverRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BMPSPB.Domain.Messaging.API.Pix.Recurso.Devolver.DevolverRequest"
                  }
                ]
              }
[...]
